<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire - @ViewBag.Title</title>
    @Styles.Render("~/Content/surveycss")
    @Styles.Render("~/Content/PatQue")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()

        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="infoModalTitle">TITLE</h5>
                    </div>
                    <div class="modal-body">
                        <h5 id="infoModalContent" style="text-align:left; font-size:large">YOUR NAME HERE</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-id="" data-isActive="">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <footer>
            <p><a href="mailto:help@patque.net?subject=No Page available" target="_blank">Get help with Survey</a> | &copy; @DateTime.Now.Year - PatQue.net</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Spinner")
    @RenderSection("scripts", required: false)

    <script>
        function showMessage(title, content) {
            $('#infoModalTitle').html(title);
            $('#infoModalContent').html(content);
            $('#infoModal').modal('show');
        }
    </script>
</body>
</html>
