@using PollQuestionnaire.UI.Web.Resources;
<!DOCTYPE html>
<html>
<script type="text/javascript">
 //<![CDATA[
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.surveyName</title>
    @Styles.Render("~/Content/surveycss")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/PatQue")
    @Scripts.Render("~/bundles/modernizr")
</head>
@*<a href="https://ssl.comodo.com" id="comodoTL">Comodo SSL</a>*@
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand truncate-ellipsis">
                        @ViewBag.surveyName
                </div>                
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li id="continueLater"><a href="#" onclick="saveResults(survey, true)" title="@LocalizedResources.patque_dialog_continueLaterTitle">@LocalizedResources.patque_dialog_continueLaterText</a></li>
                    <li><a href="#" onclick="resetSurvey()" title="@LocalizedResources.patque_btnReset_tooltip">@LocalizedResources.patque_btnReset_text</a></li>
                    <li><a href="#" onclick="downloadPdf()" title="@LocalizedResources.patque_btnPrint_tooltip">@LocalizedResources.patque_btnPrint_Text</a></li>                
                    <li class="dropdown">                        
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @LocalizedResources.patque_dialog_supportedLanguagesCaption
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="language" lang="en"><a href="#">english</a></li>
                            <li class="language" lang="sr"><a href="#">srpski</a></li>
                            <li class="language" lang="de"><a href="#">deutsch(de)</a></li>
                            <li class="language" lang="at"><a href="#">deutsch(at)</a></li>
                            <li class="language" lang="es"><a href="#">español</a></li>
                            <li class="language" lang="nl"><a href="#">nederlands(nl)</a></li>
                            <li class="language" lang="be"><a href="#">nederlands(be)</a></li>
                            <li class="language" lang="gr"><a href="#">ελληνικά</a></li>
                            <li class="language" lang="pt"><a href="#">português</a></li>
                            <li class="language" lang="pl"><a href="#">polski</a></li>
                            <li class="language" lang="hu"><a href="#">magyar</a></li>
                            <li class="language" lang="tr"><a href="#">türkçe</a></li>
                            <li class="language" lang="it"><a href="#">italiano</a></li>
                            <li class="language" lang="ru"><a href="#">русский</a></li>
                        </ul>
                    </li>
                    <li id="comodo"><script language="JavaScript" type="text/javascript">
TrustLogo("/images/comodo_secure_seal_113x59.png", "CL1", "none");
</script></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="infoModalTitle">TITLE</h5>
                    </div>
                    <div class="modal-body">
                        <h5 id="infoModalContent" style="text-align:left; font-size:large">YOUR NAME HERE</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">@LocalizedResources.patque_dialog_btnOk_caption</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalTitle">TITLE</h5>
                    </div>
                    <div class="modal-body">
                        <h5 id="confirmationModalContent" style="text-align:left; font-size:large">YOUR NAME HERE</h5>
                    </div>
                    <div class="modal-footer">
                        <button id="cmBtnYes" type="button" class="btn btn-primary" data-dismiss="modal">@LocalizedResources.patque_dialog_btnYes_caption</button>
                        <button id="cmBtnNo" type="button" class="btn btn-primary" data-dismiss="modal">@LocalizedResources.patque_dialog_btnNo_caption</button>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <footer>            
            <p><a href="mailto:help@patque.net?subject=No Page available" target="_blank">@LocalizedResources.helpEmailLink</a> | &copy; @DateTime.Now.Year - PatQue.net</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Spinner")
    @RenderSection("scripts", required: false)

    <script>
        function showMessage(title, content) {
            $('#infoModalTitle').html(title);
            $('#infoModalContent').html(content);
            $('#infoModal').modal('show');
        }

        function getConfirmation(title, content, yesAction, noAction) {
            $('#confirmationModalTitle').html(title);
            $('#confirmationModalContent').html(content);
            $('#confirmationModal').modal('show');

            $('#confirmationModal button#cmBtnYes').click(yesAction);
            $('#confirmationModal button#cmBtnNo').click(noAction);
        }

        function setLanguage(value) {
            alert(value);
        }

    </script>
</body>
</html>
