@model IEnumerable<Questionnaire.Data.Survey>

@{
    ViewBag.Title = "Admin";
}

@*<ul class="list-group col-md-3">
        @foreach (var item in Model)
        {
            <li class="list-group-item">@item.SurveyIdentifier</li>
        }
    </ul>*@

@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@*@Styles.Render("~/Content/bootstrap/css")*@

@*<script type="text/javascript">
        $(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllSurveys")',
                dataType: 'json',
                success: function (data) {
                    var html = '';
                    $.each(data, function (index, item) {
                        var $tr = $('<tr>').append(
                             $('<td>').text(item.Id),
                             $('<td>').text(item.Title),
                             $('<td>').text(item.IsActive))
                    });
                },
                error: function (Result) {
                    alert("Error");
                },
                failure: function (Result) {
                    alert(response.responseText);
                }
            });
        });
    </script>*@

<br />
<table class="table table-striped table-hover">
    <thead>
        <tr>
            @*<th width="0"></th>*@
            <th>Title</th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-surveyId="@item.Id">
                @*<th scope="row">@item.Id</th>*@
                <td>@item.Title</td>
                @if (!item.IsActive)
                {
                    <td>
                        <a href="#" class="startSurvey">
                            <i class="glyphicon glyphicon-play"></i>
                        </a>
                        <a href="#" class="hidden stopSurvey">
                            <i class="glyphicon glyphicon-stop"></i>
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <a href="#" class="hidden">
                            <i class="glyphicon glyphicon-play startSurvey"></i>
                        </a>
                        <a href="#">
                            <i class="glyphicon glyphicon-stop stopSurvey"></i>
                        </a>
                    </td>
                }
                <td><a href="two"> <i id=@string.Concat(item.Id, "-glyphicon-pencil") class="glyphicon glyphicon-pencil"></i></a></td>
                <td><a href="three"> <i id=@string.Concat(item.Id, "-glyphicon-trash") class="glyphicon glyphicon-trash"></i></a></td>
                <td><span class="badge">14</span></td>
            </tr>

        }
    </tbody>
</table>
<br />
<ul class="list-group col-md-3">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <div>@item.Title</div>
            @if (item.IsActive)
            {
                <a href="one"> <i class="glyphicon glyphicon-play"></i></a>
            }
            else
            {
                <a href="one"> <i class="glyphicon glyphicon-stop"></i></a>
            }
            <a href="two"> <i class="glyphicon glyphicon-pencil"></i></a>
            <a href="three"> <i class="glyphicon glyphicon-trash"></i></a>
            <span class="badge">14</span>
        </li>
    }
</ul>
<br />

@section Scripts
{
    <script>
        $("document").ready(function () {
            $(".startSurvey").click(function (sender) {
                var surveyId = $(this).closest('tr').attr("data-surveyId");
                var $startBtn = $(this);
                var $stopBtn = $(this).siblings('.stopSurvey');

                $.ajax(
                    '@Url.Action("ActivateSurvey", "Admin", new { area="" })',
                    {
                        method: "POST",
                        async: true,
                        data: { surveyId: surveyId },
                        dataType: 'text',
                        success: function (data, textStatus, jqXHR) {
                            // Change 'Play' into 'Stop'
                            $stopBtn.removeClass('hidden');
                            $startBtn.addClass('hidden');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('ERROR - ' + errorThrown);
                        }
                    });
            });

            $(".stopSurvey").click(function (sender) {
                var surveyId = $(this).closest('tr').attr("data-surveyId");
                var $stopBtn = $(this);
                var $startBtn = $(this).siblings('.startSurvey');

                $.ajax(
                    '@Url.Action("DeactivateSurvey", "Admin", new { area="" })',
                    {
                        method: "POST",
                        async: true,
                        data: { surveyId: surveyId },
                        dataType: 'text',
                        success: function (data, textStatus, jqXHR) {
                            // Change 'Play' into 'Stop'
                            $startBtn.removeClass('hidden');
                            $stopBtn.addClass('hidden');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('ERROR - ' + errorThrown);
                        }
                    });
            });
        })

    </script>
}

