@model IEnumerable<Questionnaire.Data.Model.Survey>

@{
    ViewBag.Title = "Admin";
}

@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@Styles.Render("~/Content/surveyEditor/css")

<br />
<p>
    <a href="#" title="New Survey" data-toggle="modal" class="editModalLink" data-target="#modal-fullscreen_edit"> <i class="glyphicon glyphicon-plus"></i> Create New Survey</a>
    @*<a href="#" class="startSurvey" data-toggle="tooltip" title="New Survey"> <i class="glyphicon glyphicon-plus"></i></a>*@
</p>
<table class="table table-striped table-hover" id="surveyTable">
    <thead>
        <tr>
            <th width="30">SurveyID</th>
            <th>Survey Title</th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr data-surveyId="@item.Id">
                <td>@item.surveyId</td>
                <td>@item.title</td>
                @if (!item.IsActive)
                {
                    <td>
                        <a href="#" class="startSurvey @item.Id" data-toggle="tooltip" title="Publish Survey">
                            <i class="glyphicon glyphicon-play"></i>
                        </a>
                        <a href="#" class="hidden stopSurvey @item.Id" data-toggle="tooltip" title="Stop Survey">
                            <i class="glyphicon glyphicon-stop"></i>
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <a href="#" class="hidden startSurvey @item.Id" data-toggle="tooltip" title="Publish Survey">
                            <i class="glyphicon glyphicon-play"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" title="Stop Survey" class="stopSurvey @item.Id">
                            <i class="glyphicon glyphicon-stop"></i>
                        </a>
                    </td>
                }
                <td><a href="#" class="dloadTranslation" data-toggle="tooltip" title="Download file for translation"> <i class="glyphicon glyphicon-download"></i></a></td>
                <td><a href="#" class="uploadTranslation" data-toggle="tooltip" title="Upload translation file"> <i class="glyphicon glyphicon-upload"></i></a></td>
                <td><a href="#" class="editModalLink" title="Edit Survey: @item.title" data-toggle="modal" data-id="@item.Id" data-surveyId="@item.surveyId" data-target="#modal-fullscreen_edit"> <i id="glyphicon-pencil" class="glyphicon glyphicon-pencil"></i></a></td>
                <td><a href="#" class="deleteSurveyModal" data-toggle="modal" title="Delete Survey: @item.title" data-target="#modal-delete" data-id="@item.Id" data-isActive="@item.IsActive"> <i id="glyphicon-trash" class="glyphicon glyphicon-trash"></i></a></td>
                <td><span class="badge" title="Number of responses">not active</span></td>
            </tr>
        }
    </tbody>
</table>

@*modal div*@
<div class="modal fullscreen fade" id="modal-fullscreen_edit" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">                
                <h5 class="modal-title" id="ModalLongTitle">Survey Editor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="surveyEditorContainer" data-id="" data-surveyId=""></div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-backdrop-transparent fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="deleteSurveyModal" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 style="text-align:center; font-size:large">Confirm deletetion!</h5>
            </div>
            <div class="modal-footer">
                <button id="deleteSUrveyButton" type="button" class="btn btn-primary deleteSurvey" data-dismiss="modal" name="passedValue" data-id="" data-isActive="">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal alert fade in" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModal" aria-hidden="true">
    <div class="modal-dialog" role="alertdialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 style="text-align:center; font-size:large" id="alertText">Alert Message</h5>
            </div>
            <div class="modal-footer" style="align-items:center;">
                <button id="alertButtonFirstText" type="button" class="btn btn-primary alert" data-dismiss="modal" name="passedValue" data-id="" data-isActive="">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal confirm fade in" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog" role="alertdialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 style="text-align:center; font-size:large" id="COnfirmText">Alert Message</h5>
            </div>
            <div class="modal-footer">
                <button id="confirmButtonFirstText" type="button" class="btn btn-danger confirm" data-dismiss="modal" name="passedValue" data-id="" data-isActive="">Delete</button>
                <button id="confirmButtonSecondText" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/surveyEditor")
    @Scripts.Render("~/Scripts/surveyjsEditorInit.js")


    <script>

        $(document).on("click", ".editModalLink", function () {
            var Id = $(this).data('id');
            var surveyId = $(this).attr('data-surveyId');
            document.getElementById("surveyEditorContainer").setAttribute("data-id", Id);
            document.getElementById("surveyEditorContainer").setAttribute("data-surveyId", surveyId);

            survey.text = ""
            $.ajax(
                 '@Url.Action("GetSurvey", "Admin", new { area="" })',
                 {
                     method: "GET",
                     async: true,
                     data: { surveyId: Id },
                     dataType: 'json',
                     success: function (data, textStatus, jqXHR) {
                         $('#noSurveyAlert').css("display", "normal");
                         //survey.survey.setJsonObject(data);
                         survey.text = JSON.stringify(data);
                     },
                     error: function (jqXHR, textStatus, errorThrown) {
                         $('#noSurveyAlert').css("display", "block");
                     }
                 });
        });
        $("document").ready(function () {
            $(function () {
                $(".deleteSurveyModal").click(function () {
                    var my_id_value = $(this).data('id');
                    var isActive = $(this).attr('data-isActive');
                    $(".modal-footer #deleteSUrveyButton").attr('data-id', my_id_value);
                    $(".modal-footer #deleteSUrveyButton").attr('data-isActive', isActive);
                })
            });
            function resetaconfirmModal() {
                ;
            }

            //reload_cart();
            $(".startSurvey").click(function (sender) {
                var surveyId = $(this).closest('tr').attr("data-surveyId");
                var $startBtn = $(this);
                var $stopBtn = $(this).siblings('.stopSurvey');

                $.ajax(
                    '@Url.Action("ActivateSurvey", "Admin", new { area="" })',
                    {
                        method: "POST",
                        async: true,
                        data: { surveyId: surveyId },
                        dataType: 'text',
                        success: function (data, textStatus, jqXHR) {
                            // Change 'Play' into 'Stop'
                            $stopBtn.removeClass('hidden');
                            $startBtn.addClass('hidden');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $('#alertText').html('ERROR - ' + errorThrown);
                            $('#alertModal').modal('show');
                            alert('ERROR - ' + errorThrown);
                        }
                    });
            });
            $(".stopSurvey").click(function (sender) {
                var surveyId = $(this).closest('tr').attr("data-surveyId");
                var $stopBtn = $(this);
                var $startBtn = $(this).siblings('.startSurvey');

                $.ajax(
                    '@Url.Action("DeactivateSurvey", "Admin", new { area="" })',
                    {
                        method: "POST",
                        async: true,
                        data: { surveyId: surveyId },
                        dataType: 'text',
                        success: function (data, textStatus, jqXHR) {
                            // Change 'Play' into 'Stop'
                            $startBtn.removeClass('hidden');
                            $stopBtn.addClass('hidden');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('ERROR - ' + errorThrown);
                        }
                    });
            });
            $(".deleteSurvey").click(function (sender) {
                var surveyId = $(this).attr('data-id');
                var isActive = $(this).attr('data-isActive');

                if (isActive == 'True') {
                    $('#alertText').html('Cannot delete active Survey. Please stop the Survey first!');
                    $('#alertButtonFirstText').html('OK');
                    $('#alertModal').modal('show');
                }
                else {
                    $.ajax(
                        '@Url.Action("DeleteSurvey", "Admin", new { area="" })',
                        {
                            method: "POST",
                            async: true,
                            data: { surveyId: surveyId },
                            dataType: 'text',
                            success: function (data, textStatus, jqXHR) {
                                $('#alertText').html('Survey succesfykky deleted');
                                $('#modal-alert').modal('show');
                                alert('Survey succesfykky deleted');
                                window.location.reload();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert('ERROR - ' + errorThrown);
                            }
                        });
                }

            });
        })

        survey.saveSurveyFunc = function () {
            //var $successAlert = document.getElementById("successAlert");
            var $successAlert = $(this).siblings('.alert-success');
            var $dangerAlert = document.getElementById("dangerAlert");
            $.ajax(
                '@Url.Action("SaveSurvey", "SurveyEditor", new { area="" })',
                {
                    method: "POST",
                    async: true,
                    data: { surveyJson: survey.text },
                    success: function (data, textStatus, jqXHR) {
                        survey.surveyValue.surveyId = data;
                        //$successAlert.removeClass('hidden');
                        alert('Survey succesfully saved');
                        window.location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('ERROR - ' + errorThrown);
                    }
                });
        }

        // .modal-backdrop classes

        $(".modal-transparent").on('show.bs.modal', function () {
            setTimeout(function () {
                $(".modal-backdrop").addClass("modal-backdrop-transparent");
            }, 0);
        });
        $(".modal-transparent").on('hidden.bs.modal', function () {
            $(".modal-backdrop").addClass("modal-backdrop-transparent");
        });

        $(".fullscreen").on('show.bs.modal', function () {
            setTimeout(function () {
                $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
            }, 0);
        });
        $(".fullscreen").on('hidden.bs.modal', function () {
            $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
        });
    </script>
}

