@model IList<Questionnaire.Service.Objects.SurveyInfo>

@{
    ViewBag.Title = "Admin";
}

@Styles.Render("~/Content/surveyEditor/css")
@Styles.Render("~/Content/css")

<br />
<p>
    <a href="#" title="New Survey" data-toggle="modal" class="editModalLink" data-target="#modal-fullscreen_edit"> <i class="glyphicon glyphicon-plus"></i> Create New Survey</a>
    @*<a href="#" class="startSurvey" data-toggle="tooltip" title="New Survey"> <i class="glyphicon glyphicon-plus"></i></a>*@
</p>
<table class="table table-striped table-hover" id="surveyTable">
    <thead>
        <tr>
            <th width="30">SurveyID</th>
            <th>Survey Title</th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr data-surveyId="@item.Id">
                <td>@item.Code</td>
                <td>@item.Title</td>
                @if (!item.IsActive)
                {
                    <td>
                        <a href="#" class="startSurvey @item.Id" data-toggle="tooltip" title="Publish Survey">
                            <i class="glyphicon glyphicon-play"></i>
                        </a>
                        <a href="#" class="hidden stopSurvey @item.Id" data-toggle="tooltip" title="Stop Survey">
                            <i class="glyphicon glyphicon-stop"></i>
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <a href="#" class="hidden startSurvey @item.Id" data-toggle="tooltip" title="Publish Survey">
                            <i class="glyphicon glyphicon-play"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" title="Stop Survey" class="stopSurvey @item.Id">
                            <i class="glyphicon glyphicon-stop"></i>
                        </a>
                    </td>
                }
                <td><a href="#" class="uploadPdf" data-toggle="modal" data-target="#uploadPdf" data-surveyId="@item.Code" title="Upload printable version"> <i class="glyphicon glyphicon-print"></i></a></td>
                <td><a href="#" class="dloadTranslation" data-toggle="tooltip" title="Download file for translation" data-id="@item.Id" data-surveyId="@item.Code"> <i class="glyphicon glyphicon-download"></i></a></td>
                <td><a href="#" class="uploadTranslation" data-toggle="tooltip" data-target="#uploadLocalizationsModal" title="Upload translation file" data-id="@item.Id" data-surveyId="@item.Code"> <i class="glyphicon glyphicon-upload"></i></a></td>
                <td><a href="#" class="editModalLink" data-target="#modal-fullscreen_edit" title="Edit Survey: @item.Title" data-id="@item.Id" data-surveyId="@item.Code"> <i id="glyphicon-pencil" class="glyphicon glyphicon-pencil"></i></a></td>
                <td><a href="#" class="deleteSurveyModal" data-toggle="modal" data-target="#deleteModal" title="Delete Survey: @item.Title" data-id="@item.Id" data-isActive="@item.IsActive"> <i id="glyphicon-trash" class="glyphicon glyphicon-trash"></i></a></td>

                @if (item.CompletedSessionCount == item.TotalSessionCount)
                {
                    <td><span class="badge" title='@string.Format("{0} sessions, all completed", @item.TotalSessionCount) '>@item.TotalSessionCount</span></td>
                }
                else
                {
                    <td><span class="badge" title='@string.Format("{0} sessions in total, {1} completed", @item.TotalSessionCount, @item.CompletedSessionCount)'>@item.TotalSessionCount (@item.CompletedSessionCount)</span></td>
                }

            </tr>
        }
    </tbody>
</table>

@*modal div*@
<div class="modal fullscreen fade" id="modal-fullscreen_edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Survey Editor</h5>
                @*<button type="button" class="close closefirstmodal">&times;</button>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModalButton">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="surveyEditorContainer" data-id="" data-surveyId=""></div>
            </div>
        </div>
    </div>
</div>

<div class="modal alert fade in" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModal" aria-hidden="true">
    <div class="modal-dialog" role="alertdialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 style="text-align:center; font-size:large" id="alertText">Alert Message</h5>
            </div>
            <div class="modal-footer" style="align-items:center;">
                <button id="alertButtonFirstText" type="button" class="btn btn-primary alert" data-dismiss="modal" name="passedValue" data-id="" data-isActive="">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal confirm fade in" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog" role="alertdialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 style="text-align:center; font-size:large" id="ConfirmText">Alert Message</h5>
            </div>
            <div class="modal-footer">
                <button id="confirmButtonFirstText" type="button" class="btn btn-danger confirm" data-dismiss="modal" name="passedValue" data-id="" data-isActive="">Delete</button>
                <button id="confirmButtonSecondText" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-backdrop-transparent fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 style="text-align:center; font-size:large">Confirm deletetion!</h5>
            </div>
            <div class="modal-footer">
                <button id="deleteSUrveyButton" type="button" class="btn btn-primary deleteSurvey" data-dismiss="modal" name="passedValue" data-id="" data-isActive="">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-backdrop-transparent fade" id="uploadPdf" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadPdfTitle">Printable file upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:5%">
                <div class="row">
                    <div class="form-group">
                        <input type="file" name="img[]" class="file" id="FileUpload1">
                        <div class="input-group col-xs-12">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="Upload Pdf File" style="min-width:100%">
                            <span class="input-group-btn">
                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group input-group col-xs-12">
                        Select Culture For Localization File fsdf
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Dropdown Example
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="uploadPdfButton" type="button" class="btn btn-primary" data-dismiss="modal" name="passedValue" data-id="" data-isActive="">Upload file</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-backdrop-transparent fade" id="uploadLocalizationsModal" tabindex="-1" role="dialog" aria-labelledby="localizationdModal" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="uploadLocalizationsTitle">Upload CSV file containing localized strings</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:5%">
                <div class="row">
                    <div class="form-group">
                        <input type="file" name="csvFileLocation" class="file" id="csvFileLocation">
                        <div class="input-group col-xs-12">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                            <input type="text" class="form-control input-lg" disabled placeholder="Upload CSV File" style="min-width:100%">
                            <span class="input-group-btn">
                                <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i>Browse</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="uploadCsvButton" type="button" class="btn btn-primary uploadCsv" data-dismiss="modal" name="passedValue" data-id="" data-isActive="">Upload file</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/surveyEditor")
    @Scripts.Render("~/Scripts/sortablejs/sortable.js")
    @Scripts.Render("~/Scripts/surveyjs/widgets/sortable.js")
    @Scripts.Render("~/Scripts/surveyjsEditorInit.js")

    <script>
        var localizedStrings = @Html.Raw(ViewBag.localizedStrings);

        var _surveyId = 0;
        var _surveyCode = '';
        var _language = '';

        $('.uploadPdf').on('click', function (e) {
            _language = window.navigator.userLanguage || window.navigator.language;
            _surveyCode = $(this).attr('data-surveyId');

            $('#uploadPdfTitle').html(language);
            $('#uploadPdfmodal').modal('show');
        });

        $('.uploadTranslation').on('click', function (e) {
            _surveyId = $(this).attr('data-Id');
            _language = window.navigator.userLanguage || window.navigator.language;

            $('#uploadLocalizationsModal').modal('show');
        });

        $('.dloadTranslation').click(function (event) {
            spinStart();

            var $link = $(this);

            var id = $link.data('id');
            var dloadURL = '@Url.Action("CreateLocalizationCsv", "Admin", new { area = "" })';

            $.ajax(
                 dloadURL,
                 {
                     method: "GET",
                     async: true,
                     data: { surveyId: id },
                     success: function (data, textStatus, jqXHR) {
                         //var blob = new Blob([data], { type: 'application/text' });

                         //var dLink = document.createElement('a');
                         //dLink.href = window.URL.createObjectURL(blob);
                         //dLink.download = 'LocalizationStrings.csv';
                         //dLink.click();

                         getCsvFile(data);
                     },
                     error: function (jqXHR, textStatus, errorThrown) {
                         spinStop();
                     }
                 });
        });

        $('#modal-fullscreen_edit').on('hide.bs.modal', function (e) {
            //document.title = e.originalEvent;
            if (e.target === this) {
                e.preventDefault();
            }
        });

        $('#closeModalButton').on('click', function (e) {
            $('#modal fullscreen fade').hide();
            window.location.reload();
        });

        // pdf upload
        $(document).on('click', '.browse', function () {
            var file = $(this).parent().parent().parent().find('.file');
            file.trigger('click');
        });
        $(document).on('change', '.file', function () {
            $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
        });

        $(document).on("click", ".editModalLink", function () {
            spinStart();

            var Id = $(this).data('id');
            var surveyId = $(this).attr('data-surveyId');
            document.getElementById("surveyEditorContainer").setAttribute("data-id", Id);
            document.getElementById("surveyEditorContainer").setAttribute("data-surveyId", surveyId);

            survey.text = ""
            $.ajax(
                 '@Url.Action("GetSurvey", "Admin", new { area="" })',
                 {
                     method: "GET",
                     async: true,
                     data: { surveyId: Id },
                     dataType: 'json',
                     success: function (data, textStatus, jqXHR) {
                         $('#noSurveyAlert').css("display", "normal");
                         //survey.survey.setJsonObject(data);
                         survey.text = JSON.stringify(data);
                         $('#modal-fullscreen_edit').modal('show');
                         spinStop();
                     },
                     error: function (jqXHR, textStatus, errorThrown) {
                         $('#noSurveyAlert').css("display", "block");

                         spinStop();
                     }
                 });
        });

        $("document").ready(function () {
            $(function () {
                $(".deleteSurveyModal").click(function () {
                    var my_id_value = $(this).data('id');
                    var isActive = $(this).attr('data-isActive');
                    $(".modal-footer #deleteSUrveyButton").attr('data-id', my_id_value);
                    $(".modal-footer #deleteSUrveyButton").attr('data-isActive', isActive);
                })
            });

            $('#uploadPdfButton').click(function () {

                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {

                    var fileUpload = $("#FileUpload1").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    fileData.append('localisation', 'en-US');

                    var url = '@Url.Action("UploadFiles", "Admin", new { surveyCode = "__code__", area = "" })';
                    url = url.replace('__code__', _surveyCode);

                    $.ajax({
                        url: url,
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            alert(result);
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });

            $('#uploadCsvButton').click(function () {
                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {

                    var fileUpload = $("#csvFileLocation").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    if (files.length == 1) {
                        spinStart();
                        var url = '@Url.Action("UploadLocalizationCsv", "Admin", new { surveyId = "__id__", area = "" })';
                        url = url.replace('__id__', _surveyId);

                        $.ajax({
                            url: url,
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (result, textStatus, jqXHR) {
                                spinStop();
                                showMessage('Success!', 'Localizations have been updated.');
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                spinStop();
                                showMessage('Well... That wasn\'t that well...', errorThrown);
                            }
                        });
                    }
                } else {
                    alert("FormData is not supported.");
                }
            });

            $(".startSurvey").click(function (sender) {
                var surveyId = $(this).closest('tr').attr("data-surveyId");
                var $startBtn = $(this);
                var $stopBtn = $(this).siblings('.stopSurvey');

                $.ajax(
                    '@Url.Action("ActivateSurvey", "Admin", new { area="" })',
                    {
                        method: "POST",
                        async: true,
                        data: { surveyId: surveyId },
                        dataType: 'text',
                        success: function (data, textStatus, jqXHR) {
                            // Change 'Play' into 'Stop'
                            $stopBtn.removeClass('hidden');
                            $startBtn.addClass('hidden');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $('#alertText').html('ERROR - ' + errorThrown);
                            $('#alertModal').modal('show');
                            showMessage('Well... That wasn\'t that well...', errorThrown);
                        }
                    });
            });
            $(".stopSurvey").click(function (sender) {
                var surveyId = $(this).closest('tr').attr("data-surveyId");
                var $stopBtn = $(this);
                var $startBtn = $(this).siblings('.startSurvey');

                $.ajax(
                    '@Url.Action("DeactivateSurvey", "Admin", new { area="" })',
                    {
                        method: "POST",
                        async: true,
                        data: { surveyId: surveyId },
                        dataType: 'text',
                        success: function (data, textStatus, jqXHR) {
                            // Change 'Play' into 'Stop'
                            $startBtn.removeClass('hidden');
                            $stopBtn.addClass('hidden');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            showMessage('Well... That wasn\'t that well...', errorThrown);
                        }
                    });
            });

            $(".deleteSurvey").click(function (sender) {
                var surveyId = $(this).attr('data-id');
                var isActive = $(this).attr('data-isActive');

                if (isActive == 'True') {
                    $('#alertText').html('Cannot delete active Survey. Please stop the Survey first!');
                    $('#alertButtonFirstText').html('OK');
                    $('#alertModal').modal('show');
                }
                else {
                    $.ajax(
                        '@Url.Action("DeleteSurvey", "Admin", new { area="" })',
                        {
                            method: "POST",
                            async: true,
                            data: { surveyId: surveyId },
                            dataType: 'text',
                            success: function (data, textStatus, jqXHR) {
                                $('#alertText').html('Survey successully deleted');
                                $('#modal-alert').modal('show');
                                showMessage('Success!', 'Survey successfully deleted');

                                window.location.reload();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                showMessage('Well... That wasn\'t that well...', errorThrown);
                            }
                        });
                }
            });
        })

        survey.saveSurveyFunc = function () {
            var $successAlert = $(this).siblings('.alert-success');
            var $dangerAlert = document.getElementById("dangerAlert");

            spinStart();

            var surveyText = survey.text;
            //surveyText = escape(surveyText);
            //surveyText = '<br />';

            $.ajax(
                '@Url.Action("SaveSurvey", "SurveyEditor", new { area="" })',
                {
                    method: "POST",
                    async: true,
                    data: { surveyJson: surveyText },
                    success: function (data, textStatus, jqXHR) {
                        survey.surveyValue.surveyId = data;
                        spinStop();

                        showMessage('Success!', 'Survey succesfully saved');

                        //window.location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        spinStop();
                        showMessage('Well... That wasn\'t that well...', errorThrown);
                    }
                });
        }

        // .modal-backdrop classes

        $(".modal-transparent").on('show.bs.modal', function () {
            setTimeout(function () {
                $(".modal-backdrop").addClass("modal-backdrop-transparent");
            }, 0);
        });
        $(".modal-transparent").on('hidden.bs.modal', function () {
            $(".modal-backdrop").addClass("modal-backdrop-transparent");
        });

        $(".fullscreen").on('show.bs.modal', function () {
            setTimeout(function () {
                $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
            }, 0);
        });
        $(".fullscreen").on('hidden.bs.modal', function () {
            $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
        });

        function getCsvFile(fileName) {
            var dloadURL = '@Url.Action("DownloadLocalizationCsv", "Admin", new { fileName = "__fileName__",  area = "" })';
            dloadURL = dloadURL.replace('__fileName__', fileName);
            spinStop();

            window.location = dloadURL;
        }
    </script>
}

