@model IEnumerable<Questionnaire.Data.Model.Survey>

@{
    ViewBag.Title = "Admin";
}

@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@Styles.Render("~/Content/surveyEditor/css")

<br />
<p>
    New Survey
    <a href="#" title="New Survey" data-toggle="modal" class="editModalLink" data-target="#modal-fullscreen_edit"> <i class="glyphicon glyphicon-plus"></i></a>
    @*<a href="#" class="startSurvey" data-toggle="tooltip" title="New Survey"> <i class="glyphicon glyphicon-plus"></i></a>*@
</p>
<table class="table table-striped table-hover" id="surveyTable">
    <thead>
        <tr>
            @*<th width="0"></th>*@
            <th>Title</th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
            <th width="25"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr data-surveyId="@item.Id">
                @*<th scope="row">@item.Id</th>*@
                <td>@item.title</td>
                @if (!item.IsActive)
                {
                    <td>
                        <a href="#" class="startSurvey" data-toggle="tooltip" title="Publish Survey">
                            <i class="glyphicon glyphicon-play"></i>
                        </a>
                        <a href="#" class="hidden stopSurvey" data-toggle="tooltip" title="Stop Survey">
                            <i class="glyphicon glyphicon-stop"></i>
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <a href="#" class="hidden" data-toggle="tooltip" title="Publish Survey">
                            <i class="glyphicon glyphicon-play startSurvey"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" title="Stop Survey">
                            <i class="glyphicon glyphicon-stop stopSurvey"></i>
                        </a>
                    </td>
                }
                <td><a href="#" data-toggle="tooltip" title="Download file for translation"> <i class="glyphicon glyphicon-download"></i></a></td>
                <td><a href="#" data-toggle="tooltip" title="Upload translation file"> <i class="glyphicon glyphicon-upload"></i></a></td>
                <td><a href="#" title="Edit Survey: @item.title" data-toggle="modal" data-id="@item.Id" class="editModalLink" data-target="#modal-fullscreen_edit"> <i id=@string.Concat(item.Id, "-glyphicon-pencil") class="glyphicon glyphicon-pencil"></i></a></td>
                <td><a href="#" data-toggle="modal" title="delete_Survey @item.title" data-target="#modal-delete"> <i id=@string.Concat(item.Id, "-glyphicon-trash") class="glyphicon glyphicon-trash"></i></a></td>
                <td><span class="badge" title="Number of responses">not active</span></td>
            </tr>
        }
    </tbody>
</table>
@*modal div*@
<div class="modal modal-fullscreen fade" id="modal-fullscreen_edit" tabindex="-1" role="dialog" aria-labelledby="editSurveyModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Survey Editor</h5>
                <div class="alert alert-success hidden" id="successAlert">
                    <strong>Success!</strong> Survey successfully saved
                </div>
                <div class="alert alert-danger hidden" id="dangerAlert">
                    <strong>Danger!</strong> Survey was not saved
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="surveyEditorContainer" data-myValue=""></div>
            </div>
            <div class="hidden modal-footer" footer-id="footer1">
                Your survey has been succesfully saved
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-backdrop-transparent fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Please confirm deletetion</h5>
            </div>
            <div class="modal-footer">
                <button id="deleteSUrveyButton" type="button" class="btn btn-primary deleteSurvey" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-su alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Survey has been deleted!</strong>
</div>
@*list view implementation*@
@*<br />
    <ul class="list-group col-md-3">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div>@item.Title</div>
                @if (item.IsActive)
                {
                    <a href="one"> <i class="glyphicon glyphicon-play"></i></a>
                }
                else
                {
                    <a href="one"> <i class="glyphicon glyphicon-stop"></i></a>
                }
                <a href="two" alt="Download translation file."> <i class="glyphicon glyphicon-download"></i></a>
                <a href="two" alt="Upload translation file."> <i class="glyphicon glyphicon-upload"></i></a>
                <a href="three"> <i class="glyphicon glyphicon-trash"></i></a>
                <span class="badge">14</span>
            </li>
        }
    </ul>
    <br />*@

@section Scripts
{
    @Scripts.Render("~/Scripts/dxSurvey/dxBroker.js")
    @Scripts.Render("~/bundles/surveyEditor")
    <script>
        $(document).on("click", ".editModalLink", function () {
            var surveyId = $(this).data('id');
            document.getElementById("surveyEditorContainer").setAttribute("data-myValue", surveyId);
            //var surveyId = $('#surveyEditorContainer').data('myValue');
            //var surveyId = document.getElementById("surveyEditorContainer").getAttribute('data-myValue');

            $.ajax(
             '@Url.Action("GetSurvey", "Admin", new { area="" })',
             {
                 method: "GET",
                 async: true,
                 data: { surveyId: surveyId },
                 dataType: 'text',
                 success: function (data, textStatus, jqXHR) {
                     $('#noSurveyAlert').css("display", "normal");
                     survey.text = data;
                 },
                 error: function (jqXHR, textStatus, errorThrown) {
                     $('#noSurveyAlert').css("display", "block");
                 }
             });
        });
        $("document").ready(function () {
            $(".startSurvey").click(function (sender) {
                var surveyId = $(this).closest('tr').attr("data-surveyId");
                var $startBtn = $(this);
                var $stopBtn = $(this).siblings('.stopSurvey');

                $.ajax(
                    '@Url.Action("ActivateSurvey", "Admin", new { area="" })',
                    {
                        method: "POST",
                        async: true,
                        data: { surveyId: surveyId },
                        dataType: 'text',
                        success: function (data, textStatus, jqXHR) {
                            // Change 'Play' into 'Stop'
                            $stopBtn.removeClass('hidden');
                            $startBtn.addClass('hidden');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('ERROR - ' + errorThrown);
                        }
                    });
            });
            $(".stopSurvey").click(function (sender) {
                var surveyId = $(this).closest('tr').attr("data-surveyId");
                var $stopBtn = $(this);
                var $startBtn = $(this).siblings('.startSurvey');

                $.ajax(
                    '@Url.Action("DeactivateSurvey", "Admin", new { area="" })',
                    {
                        method: "POST",
                        async: true,
                        data: { surveyId: surveyId },
                        dataType: 'text',
                        success: function (data, textStatus, jqXHR) {
                            // Change 'Play' into 'Stop'
                            $startBtn.removeClass('hidden');
                            $stopBtn.addClass('hidden');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('ERROR - ' + errorThrown);
                        }
                    });
            });
            $(".deleteSurvey").click(function (sender) {
                var surveyId = $(this).closest('tr').attr("data-surveyId");

                $.ajax(
                    '@Url.Action("DeleteSurvey", "Admin", new { area="" })',
                    {
                        method: "POST",
                        async: true,
                        data: { surveyId: surveyId },
                        dataType: 'text',
                        success: function (data, textStatus, jqXHR) {
                            alert('survey succesfykky deleted');
                            window.location.reload();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('ERROR - ' + errorThrown);
                        }
                    });
            });
        })

        // survey editor scripting

        var editorOptions = { showJSONEditorTab: true, showEmbededSurveyTab: false };
        var survey = new SurveyEditor.SurveyEditor("surveyEditorContainer", editorOptions);

        // Add database id property to survey object
        Survey.JsonObject.metaData.addProperty("questionbase", { name: "internalId:number" });
        //survey.loadSurvey()

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "survey") {
                options.canShow = options.property.name != "surveyId";
            }
        });

        survey.render('surveyEditorContainer');

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "text") {
                options.canShow = options.property.name != "internalId";
            }
        });

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "checkbox") {
                options.canShow = options.property.name != "internalId";
            }
        });

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "radiogroup") {
                options.canShow = options.property.name != "internalId";
            }
        });

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "dropdown") {
                options.canShow = options.property.name != "internalId";
            }
        });

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "comment") {
                options.canShow = options.property.name != "internalId";
            }
        });

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "rating") {
                options.canShow = options.property.name != "internalId";
            }
        });

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "html") {
                options.canShow = options.property.name != "internalId";
            }
        });

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "file") {
                options.canShow = options.property.name != "internalId";
            }
        });

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "matrix") {
                options.canShow = options.property.name != "internalId";
            }
        });

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "matrixdropdown") {
                options.canShow = options.property.name != "internalId";
            }
        });

        survey.onCanShowProperty.add(function (sender, options) {
            if (options.obj.getType() == "matrixdynamic") {
                options.canShow = options.property.name != "internalId";
            }
        });

        //survey.onCanShowProperty.add(function (sender, options) {
        //    if (options.obj.getType() == "matrixdynamic") {
        //        options.canShow = options.property.name != "internalId";
        //    }
        //});

        // set function on save callback
        survey.saveSurveyFunc = function () {
            //var $successAlert = document.getElementById("successAlert");
            var $successAlert = $(this).siblings('.alert-success');
            var $dangerAlert = document.getElementById("dangerAlert");
            $.ajax(
                '@Url.Action("SaveSurvey", "SurveyEditor", new { area="" })',
                {
                    method: "POST",
                    async: true,
                    data: { surveyJson: survey.text },
                    success: function (data, textStatus, jqXHR) {
                        survey.surveyValue.surveyId = data;
                        //$successAlert.removeClass('hidden');
                        alert('Survey succesfully saved');
                        window.location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('ERROR - ' + errorThrown);
                    }
                });
        }

        // .modal-backdrop classes

        $(".modal-transparent").on('show.bs.modal', function () {
            setTimeout(function () {
                $(".modal-backdrop").addClass("modal-backdrop-transparent");
            }, 0);
        });
        $(".modal-transparent").on('hidden.bs.modal', function () {
            $(".modal-backdrop").addClass("modal-backdrop-transparent");
        });

        $(".modal-fullscreen").on('show.bs.modal', function () {
            setTimeout(function () {
                $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
            }, 0);
        });
        $(".modal-fullscreen").on('hidden.bs.modal', function () {
            $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
        });
    </script>
}

