@model IList<Questionnaire.Service.Objects.SurveyInfo>

@{
    ViewBag.Title = "Active Surveys";
}

@Styles.Render("~/Content/survey/css")
<br />
<br />
<br />
<div class="table-responsive">

    <table class="table table-bordered table-striped table-hover-surveylist table-hover" id="surveyTable" style="border:medium">
        <thead class="thead-inverse">
            <tr>
                <th width="25">SurveyId</th>
                <th width="150">Survey Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.IsActive)
                {
                    <tr data-surveyId="@item.Code" data-Id="@item.Id" data-surveyName="@item.Title" class="clickrow">
                        <td>@item.Code</td>
                        <td>@item.Title</td>
                    </tr>
                }
            }
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="2">There are no Active Surveys</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<div class="container-fluid">
    <div class="row">
        <div id="noSurveyAlert" style="display: none">
            <hr />
            <div class="alert alert-warning" role="alert">There are no active surveys...</div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/dxSurvey/dxBroker.js")
    @Scripts.Render("~/bundles/survey")
    @Scripts.Render("~/bundles/Spinner")
    <script>
        $("document").ready(function () {
            $('.clickrow').on('click', function () {
                var surveyId = $(this).attr('data-surveyId'); // the 4 char survey code

                var patQueUrl = '@Url.Action("PatQueSurvey", "Survey", new { area="", surveyCode="__surveyCode__" })';
                patQueUrl = patQueUrl.replace("__surveyCode__", surveyId);

                window.location.href = patQueUrl;
            });
        });
    </script>
}
