@model IEnumerable<Questionnaire.Data.Model.Survey>

@{
    ViewBag.Title = "Active Surveys";
}
@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@Styles.Render("~/Content/survey/css")
<br />
<br />
<br />
<div class="table-responsive">

    <table class="table table-bordered table-striped table-hover-surveylist table-hover" id="surveyTable" style="border:medium">
        <thead class="thead-inverse">
            <tr>
                <th width="25">SurveyId</th>
                <th width="150">Survey Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.IsActive)
                {
                    <tr data-surveyId="@item.surveyId" data-Id="@item.Id" data-surveyName="@item.title" class="clickrow">
                        <td>@item.surveyId</td>
                        <td>@item.title</td>
                    </tr>
                }
            }
            @if (Model.Count(o => o.IsActive == true) == 0)
            {
                <tr>
                    <td colspan="2">There are no Active Surveys</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<div class="container-fluid">
    <div class="row">
        <div id="noSurveyAlert" style="display: none">
            <hr />
            <div class="alert alert-warning" role="alert">There are no active surveys...</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-8">
            <form class="form-inline" style="float: right">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" title="A 4 digit uniq survey code ie. <N7T6>. You can find it on the Survey Admin page">Survey CODE</div>
                        <input type="text" class="form-control" id="surveyCode" placeholder="Type here...">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="loadSurvey()">Load</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="surveyElement"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/dxSurvey/dxBroker.js")
    @Scripts.Render("~/bundles/survey")
    @Scripts.Render("~/bundles/Spinner")    
    <script>
        Survey.JsonObject.metaData.addProperty("survey", { name: "internalId:number" });
        Survey.JsonObject.metaData.addProperty("page", { name: "internalId:number" });
        Survey.JsonObject.metaData.addProperty("panel", { name: "internalId:number" });
        Survey.JsonObject.metaData.addProperty("questionbase", { name: "internalId:number" });
        Survey.JsonObject.metaData.addProperty("multipletextitem", { name: "internalId:number" });
        Survey.JsonObject.metaData.addProperty("matrixdropdowncolumn", { name: "internalId:number" });

        var survey = new Survey.Model();

        $("document").ready(function () {
            $('.clickrow').on('click', function () {
                var pagePQS = $(location).attr('href') + "/PatQueSurvey?surveyId=";
                var surveyId = $(this).attr('data-surveyId'); // the 4 char survey code
                var surveyName = $(this).attr('data-surveyName');
                window.location.href = pagePQS + surveyId + '&surveyName=' + surveyName;
            });
        });


        function loadSurvey() {
            // Get Survey UID from URL
            var code = $('#surveyCode').val();

            $.ajax(
                '@Url.Action("GetActiveSurvey", "Survey", new { area="" })',
                {
                    method: "GET",
                    async: true,
                    data: { surveyCode: code },
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        $('#noSurveyAlert').css("display", "normal");

                        survey.setJsonObject(data);
                        $("#surveyElement").Survey({
                            model: survey,
                            onComplete: saveResults
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#noSurveyAlert').css("display", "block");
                    }
                });
        };

        Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
        Survey.Survey.cssType = "bootstrap";

        function saveResults(survey) {
            $.ajax(
                '@Url.Action("SaveResults", "Survey", new { area="" })',
                {
                    method: "POST",
                    async: true,
                    data: { surveyId: survey.internalId, jsonResults: JSON.stringify(sender.data) },
                    success: function (data, textStatus, jqXHR) {
                        alert(JSON.stringify("Your survey has been saved"));
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(JSON.stringify("Error"));
                    }
                });
        }

    </script>
}
