@using PollQuestionnaire.UI.Web.Resources;

@{
    ViewBag.Title = "PatQueSurvey";
    Layout = "~/Views/Shared/_LayoutSurvey.cshtml";
}
@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@Styles.Render("~/Content/survey/css")

<div class="alert alert-warning hidden" id="alert">
    <strong>We don&#39;t have a survey for you!</strong>
</div>

<div class="modal fullscreen fade" id="surveyModal" tabindex="-1" role="dialog" aria-labelledby="SurveyModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <table class="table table-striped table-responsive" id="surveyTable" style="vertical-align:middle; text-align:center;">
                    <thead>
                        <tr>
                            <th width="5"></th>
                            <th valign="middle" width="256"></th>
                            <th valign="middle"></th>
                            <th class="vertical-center" width="25"></th>
                            <th width="5"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border:; border-color:darkgray">
                            <td></td>
                            <td><a href="#" class="dloadTranslation" data-toggle="tooltip" title="www.europacolon.com"><img src="~/images/EuropaColon_Logo_2016_256x183.jpg" class="img-responsive" alt="Europa Colon Logo" style="width:80%"> </a></td>
                            <td>
                                <h2 class="modal-title" id="ModalTitle">@ViewBag.surveyName</h2>
                                <h3><a href="#" class="continLater" data-target="#continueLater" data-surveyId="@ViewBag.codeSurveyId" title="You can continue the survey at any time anywhere">Continue with the survey later</a></h3>
                            </td>
                            <td>
                                <a href="#" class="dloadPdf" data-toggle="modal" data-language="@ViewBag.language" data-surveyId="@ViewBag.codeSurveyId" title="@LocalizedResources.patque_btnPrint_tooltip">
                                    <div>
                                        <h1><i class="glyphicon glyphicon-print"></i></h1>
                                        <h3>@LocalizedResources.patque_btnPrint_Text</h3>
                                    </div>
                                </a>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body">
                <div id="surveyElement" data-id="" data-surveyId="@ViewBag.codeSurveyId" data-surveyName="@ViewBag.surveyCulture">
                </div>
            </div>
            <div class="modal-footer">
                <p>
                    <a href="mailto:help@patque.net?subject=Help WIth - @ViewBag.codeSurveyID-@ViewBag.surveyName" target="_blank">Get help with Survey</a> | &copy; @DateTime.Now.Year - PatQue.net
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-backdrop-transparent fade" id="continueLater" tabindex="-1" role="dialog" aria-labelledby="continueLater" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 style="text-align:center; font-size:large">Confirm deletetion!</h5>
            </div>
            <div class="modal-footer">
                <button id="generateLink" type="button" class="btn btn-primary" data-dismiss="modal" name="passedValue" data-id="" data-isActive="">Generate link</button>
                <input type="text" id="emailInput"class="form-control input-lg" placeholder="Enter your Email" style="min-width:100%">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/survey")
    <script>
        Survey.JsonObject.metaData.addProperty("survey", { name: "internalId:number" });
        Survey.JsonObject.metaData.addProperty("page", { name: "internalId:number" });
        Survey.JsonObject.metaData.addProperty("panel", { name: "internalId:number" });
        Survey.JsonObject.metaData.addProperty("questionbase", { name: "internalId:number" });
        Survey.JsonObject.metaData.addProperty("multipletextitem", { name: "internalId:number" });
        Survey.JsonObject.metaData.addProperty("matrixdropdowncolumn", { name: "internalId:number" });

        var survey = new Survey.Model({ cookieName: "surveyCompleted" });
        var codeSurveyId = $('#surveyElement').attr('data-surveyId');

        var sessionCode = '@ViewBag.sessionCode';
        var language = '@ViewBag.language';

        survey.showProgressBar = "bottom";
        survey.cookie
        document.cookie.json = true;

        survey.onValueChanged.add(function (sender, options) {
            var someData = JSON.stringify(sender.data);
            localStorage.setItem('tempSurveyResults', JSON.stringify(sender.data));
            localStorage.setItem('lastPageVisited', sender.currentPageNo);
        });

        $('#generateLink').on('click', function (e) {
            saveResults(survey, true);
        });

        // Ajax load
        loadSurvey(codeSurveyId);

        function loadSurvey(surveyCode) {
            spinStart();
            $.ajax(
                '@Url.Action("GetActiveSurvey", "Survey", new { area="" })',
                {
                    method: "GET",
                    async: true,
                    data: { surveyCode: surveyCode, lang: language },
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        survey.setJsonObject(data);

                        if (!sessionCode || sessionCode == undefined || sessionCode == '' || sessionCode.length == 0) {

                            var dataAsString = localStorage.getItem('tempSurveyResults');
                            survey.data = JSON.parse(dataAsString);

                            var currentPageNum = localStorage.getItem('lastPageVisited');
                            survey.currentPageNo = currentPageNum;
                            $("#surveyElement").Survey({
                                model: survey,
                                onComplete: saveResults
                            });

                            spinStop();
                            $('#surveyModal').modal('show');
                        }
                        else {
                            loadOngoingSession(sessionCode);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        spinStop();

                        // Show no-survey message
                        $('#alert').removeClass('hidden');
                        showMessage('@LocalizedResources.patque_dialog_error_caption', '@LocalizedResources.patque_dialog_error_surveyLoadFailed');
                    }
                });
        };

        function loadOngoingSession(code) {
            spinStart();
            $.ajax(
                '@Url.Action("GetActiveSession", "Survey", new { area="" })',
                {
                    method: "GET",
                    async: true,
                    data: { surveyCode: codeSurveyId, sessionCode: code },
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        survey.data = JSON.parse(data.JsonResults);
                        survey.currentPageNo = data.LastPageVisited;
                        $("#surveyElement").Survey({
                            model: survey,
                            onComplete: saveResults
                        });

                        spinStop();
                        $('#surveyModal').modal('show');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        showMessage('@LocalizedResources.patque_dialog_error_caption', '@LocalizedResources.patque_dialog_error_sessionNotFound');
                        spinStop();
                    }
                });
        };

        Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
        Survey.Survey.cssType = "bootstrap";

        var myCss = {
            matrix: { root: "table table-striped" },
            //navigationButton: "button btn-lg",
            text: "form-control input-lg col-xs-4",
            comment: "form-control input-lg"
        };


        $("#surveyElement").Survey({
            model: survey,
            css: myCss
        });


        function reRunSurvey() {
            survey.clear();

            survey.render('survey');
        }

        function saveResults(survey, isIncomoplete) {
            spinStart();

            var lastVisitedPage = localStorage.getItem('lastPageVisited');
            $.ajax(
                '@Url.Action("SaveResults", "Survey", new { area="" })',
                {
                    method: "POST",
                    async: true,
                    data: {                        
                        surveyId: survey.internalId,
                        jsonResults: JSON.stringify(survey.data),
                        sessionCode: sessionCode,
                        lastVisitedPageIndex: lastVisitedPage,
                        isFinal: !isIncomoplete
                    },
                    dataType: 'text',
                    success: function (data, textStatus, jqXHR) {
                        spinStop();
                        if (isIncomoplete)
                        {
                            var resumeLink = '';
                            if (!language || language == undefined || language == '' || language.length == 0) {
                                resumeLink = '@Url.Action("PatQueSurvey", "Survey", new { area="", surveyCode="__surveyCode__", sessionCode="__sessionCode__" })';
                            }
                            else {
                                resumeLink = '@Url.Action("PatQueSurvey", "Survey", new { area="", surveyCode="__surveyCode__", sessionCode="__sessionCode__", lang="__language__" })';
                                resumeLink = resumeLink.replace("__language__", language);
                            }

                            resumeLink = resumeLink.replace("__surveyCode__", codeSurveyId);
                            resumeLink = resumeLink.replace("__sessionCode__", data);

                            var successMsg = '@LocalizedResources.patque_dialog_sessionSavedMessage' + '<div style="float:left"><h5>www.patque.net__resumeLink__</h5></div>';
                            successMsg = successMsg.replace("__resumeLink__", resumeLink);
                            showMessage('@LocalizedResources.patque_dialog_thankYouCaption', successMsg);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        spinStop();
                        showMessage('@LocalizedResources.patque_dialog_error_caption', '@LocalizedResources.patque_dialog_error_saveSessionFailed');

                    }
                });
        }
    </script>
}

